#instances {
	display: flex;
	flex-wrap: wrap;

	position: fixed;
	top: 200px;
	left: 0;
	bottom: 0;
	right: 0;

	overflow: auto;
}

.instance {
	margin: 5px;

	background-color: red;
	transition: background-color 1s linear;

	width: 200px;
	height: 200px;
}
